*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-image: linear-gradient(rgba(2, 4, 7, 0.685), rgba(47, 54, 44, 0.658)),
    url(fondo.jpg);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: lavender;
    font-weight: 600;
    padding-right: 50px;
}

a:hover{
    text-decoration: underline;
}

.logo img{
    height: 150px;
    padding-left: 25px;
    display: flex;
}